<!-- Header part-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Django Blogs</title>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>

<div class="container">

    <!-- Header -->
 <header class="blog-header py-3 border-bottom">
    <div class="row align-items-center">

        <!-- Logo -->
        <div class="col-md-3">
            <a class="blog-header-logo text-dark" href="/" style="text-decoration:none;">
                <h2 class="mb-0">Django Blog</h2>
            </a>
        </div>

        <!-- Search -->
        <div class="col-md-6">
            <form action="/search/" method="GET">
                <div class="input-group">
                    <input
                        type="text"
                        name="keyword"
                        class="form-control"
                        placeholder="Search..."
                    >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            Go!
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Buttons -->
        <div class="col-md-3 text-right">
    {% if user.is_authenticated %}
        <span class="mr-2">Welcome, {{ user.username }}</span>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-warning mr-2">Sign In</a>
        <a href="{% url 'register' %}" class="btn btn-outline-secondary">Register</a>
    {% endif %}
</div>

    </div>
</header>

   <div class="nav-scroller py-2 mb-4">
    <nav class="nav d-flex justify-content-between">
        {% for cat in categories %}
            <a class="p-2 text-muted" href="{% url 'post_by_category' cat.id %}">
                {{ cat.category_name }}
            </a>
        {% endfor %}
    </nav>
</div>


<!-- Main part-->
{% block content %}

{% endblock %}





<footer class="blog-footer mt-5">
    <p>
        Django blog built with ❤️ by
        <a href="#">Aditya Narayan</a>
    </p>
</footer>

</body>
</html>