{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 dashboard-sidebar">

            <div class="list-group">

               <a href="{% url 'dashboard' %}" class="list-group-item">
    Dashboard
</a>

{% if request.user.is_superuser or request.user.groups.all.0.name == "Manager" %}


<a href="{% url 'users' %}" class="list-group-item list-group-item-action">
    Users
</a>
{% endif %}
<a href="{% url 'categories' %}" class="list-group-item list-group-item-action">
    Categories
</a>

<a href="{% url 'posts' %}" class="list-group-item list-group-item-action">
    Posts
</a>


<a href="{% url 'logout' %}" class="list-group-item text-danger">
    Logout
</a>
            </div>

        </div>

        <!-- Dashboard Content -->
        <div class="col-md-9">

            <div class="row">

                <!-- Category Count -->
                <div class="col-md-6">

                    <div class="card dashboard-card shadow-sm">

                        <div class="card-header text-center">
                            ALL CATEGORIES
                        </div>

                        <div class="card-body text-center">
                            <h2>{{ category_count }}</h2>
                        </div>

                    </div>

                </div>

                <!-- Blog Count -->
                <div class="col-md-6">

                    <div class="card dashboard-card shadow-sm">

                        <div class="card-header text-center">
                            ALL BLOGS
                        </div>

                        <div class="card-body text-center">
                            <h2>{{ blog_count }}</h2>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}